#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "balanced";
    tapping-term-ms = <250>;
};

/ {
    combos {
        compatible = "zmk,combos";

        insert {
            bindings = <&kp INSERT>;
            key-positions = <40 41>;
            layers = <0>;
        };

        select_line {
            bindings = <&select_line>;
            key-positions = <24 25>;
            layers = <0>;
        };

        caps_word {
            bindings = <&caps_word>;
            key-positions = <12 13>;
            layers = <0>;
        };

        home {
            bindings = <&kp HOME>;
            key-positions = <19 18>;
            layers = <0>;
        };

        end {
            bindings = <&kp END>;
            key-positions = <19 20>;
            layers = <0>;
        };

        page_up {
            bindings = <&kp PAGE_UP>;
            key-positions = <6 7>;
            layers = <0>;
        };

        page_down {
            bindings = <&kp PAGE_DOWN>;
            key-positions = <7 8>;
            layers = <0>;
        };
    };

    macros {
        select_line: select_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp HOME &kp LS(END)>;
            label = "SELECT_LINE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E         &kp R         &kp T        &kp Y        &kp U                    &kp I                 &kp O    &kp P                &mt RIGHT_BRACKET LEFT_BRACKET
&kp LCTRL  &kp A  &kp S  &kp D         &kp F         &kp G        &kp H        &kp J                    &kp K                 &kp L    &kp SEMI             &mt RCTRL SQT
&kp LSHFT  &kp Z  &kp X  &kp C         &kp V         &kp B        &kp N        &kp M                    &kp COMMA             &kp DOT  &mt BACKSLASH SLASH  &mt RSHFT ESCAPE
                         &kp LEFT_WIN  &kp LEFT_ALT  &lt 1 SPACE  &lt 2 ENTER  &mt RIGHT_ALT BACKSPACE  &mt RIGHT_GUI DELETE
            >;
        };

        left_layer {
            bindings = <
&kp TILDE  &kp AT_SIGN           &kp HASH               &kp DOLLAR       &kp PERCENT       &kp CARET          &kp AMPERSAND  &kp ASTERISK    &kp GRAVE       &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &none
&trans     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp EQUAL        &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp HOME       &kp PAGE_UP     &kp UP_ARROW    &kp PAGE_DOWN     &kp LA(LEFT)       &trans
&trans     &kp LESS_THAN         &kp GREATER_THAN       &kp EXCLAMATION  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp END        &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW   &kp LA(RIGHT)      &trans
                                                        &trans           &trans            &trans             &mo 3          &trans          &trans
            >;

            display-name = "Left";
        };

        right_layer {
            bindings = <
&none   &none  &kp F1  &kp F2   &kp F3   &kp F4   &kp MINUS  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp SLASH     &kp NUMBER_0
&trans  &none  &kp F5  &kp F6   &kp F7   &kp F8   &kp PLUS   &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp ASTERISK  &trans
&trans  &none  &kp F9  &kp F10  &kp F11  &kp F12  &kp EQUAL  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD    &trans
                       &trans   &trans   &mo 3    &trans     &trans        &trans
            >;

            label = "Right";
        };

        adjust_layer {
            display-name = "Adjust";
            bindings = <
&none  &none  &none  &none   &bootloader  &none   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &none  &none  &bt BT_CLR
&none  &none  &none  &none   &none        &none   &none         &none         &none         &none  &none  &none
&none  &none  &none  &none   &none        &none   &none         &sys_reset    &none         &none  &none  &none
                     &trans  &trans       &trans  &trans        &trans        &trans
            >;
        };
    };
};
